body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Mockup', 'Hind', sans-serif;
}

@font-face {
  font-family: Mockup;
  src: url("/mockup2/Mockup-Regular.otf") format("opentype");
}

.woke-dark-blue {
  color: #047391;
}
.bg-woke-dark-blue {
  background-color: #047391;
}
.hover-bg-woke-dark-blue:hover {
  background-color: #047391;
}

.woke-blue {
  color: #06ADDB;
}
.bg-woke-blue {
  background-color: #06ADDB;
}
.hover-bg-woke-blue:hover {
  background-color: #06ADDB;
}


.woke-light-blue {
  color: #88E3FC;
}
.bg-woke-light-blue {
  background-color: #88E3FC;
}
.hover-bg-woke-light-blue:hover {
  background-color: #88E3FC;
}

.bg-woke-lighter-blue {
  background-color: #C3F1FD;
}
.hover-bg-woke-lighter-blue:hover {
  background-color: #C3F1FD;
}

.bg-woke-background {
  background-color: #EBFAFE;
}

.b--woke-blue {
  border-color: #06ADDB;
}
